$azulOs: rgb(10, 18, 41);
$azul2: rgb(10, 18, 43);
.boton {
  color: #fff;
  background-color: $azulOs;
  border-color: $azulOs;
  border-radius: 5px;
  font-weight: 400;
  text-align: center;
  margin: auto;
  width: 100%;
  margin-top: 1rem;
}

/* .modal-rounded {
    .modal-content {
      border-radius: 100px !important;
    }
  } */

.boton1 {
  color: #fff;
  background-color: $azulOs;
  border-color: $azulOs;
  border-radius: 5px;
  font-weight: 400;
}

.register {
  color: $azul2;
}

.form-control {
  margin-bottom: 1rem;
}

.modal-title {
  text-align: center;
  margin: auto;
  color: grey;
}

.modal-header {
  color: #fff;
  // background-color: $azulOs;
  // border-color: $azulOs;
}
