<footer>
    <br />
    <div class="container">
        <div class="row">
            <!-- <div class="col-md-1"></div> -->
            <div class="col-md-2 offset-md-1">
                <a href="" class="">DronU 2021</a>
            </div>

            <div class="col-md-2">
                <a href="" class="">Privacidad y legal</a>
            </div>
            <div class="col-md-2">
                <a href="" class="">Contacto</a>
            </div>
            <div class="col-md-2">
                <a href="" class="">Empleo</a>
            </div>
            <div class="col-md-2">
                <a href="" class="">Boletín de noticias</a>
            </div>
            <!-- <div class="col-md-1"></div> -->
        </div>
    </div>
</footer>