<ng-template #content let-modal>
  <div class="modal-header">
    <h3 class="modal-title" id="modal-basic-title">Tu carrito</h3>
  </div>
  <div class="modal-body">
    <div class="fila">
      <p>Productos</p>
      <p>Mavic Air 2</p>
      <div class="trash">
        <p>Cantidad 1 | 850€</p>
        <img class="logo" src="../../../assets/images/trash.png" />
      </div>
    </div>
    <div class="total">
      <p>Total</p>
      <p>850€</p>
    </div>
  </div>
  <div class="modal-footer">
    <button class="button-chulo">Tramitar pedido</button>
  </div>
</ng-template>
