<app-imagen-dron></app-imagen-dron>

<div class="container">
    <h3>Equipo</h3>
    <div class="row">
        <div class="col-md-4 top">
            <div class="card2">
                <div class="cat">
                    <img class="cardImg rounded-circle" src="../../assets/images/profesional1.jpg" alt="">
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12 tituloCur">
                        <h4>LISETH GUILLAN DE LA CALLE</h4>
                        <h5>PILOTO PROFESIONAL DE DRONES STS</h5>
                        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nisl libero, iaculis et magna et, ultrices consectetur justo. Aliquam erat volutpat.</h6>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 top">
            <div class="card2">
                <div class="cat">
                    <img class="cardImg rounded-circle" src="../../assets/images/profesional2.jpg" alt="">
                </div>
                <br>
                <div class="row">
                    <div class="tituloCur">
                        <h4>SERGIO GONZALEZ RODRIGUEZ</h4>
                        <h5>RADIOFONISTA PROFESIONAL DE DRONES</h5>
                        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nisl libero, iaculis et magna et, ultrices consectetur justo. Aliquam erat volutpat.</h6>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 top">
            <div class="card2">
                <div class="cat">
                    <img class="cardImg rounded-circle" src="../../assets/images/profesional3.jpg" alt="">
                </div>
                <br>
                <div class="row">
                    <div class="tituloCur">
                        <h4>JAVIER AFAN AZPIROZ</h4>
                        <h5>PILOTO PROFESIONAL DE DRONES EUROPEO</h5>
                        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nisl libero, iaculis et magna et, ultrices consectetur justo. Aliquam erat volutpat.</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>