<app-imagen-dron></app-imagen-dron>

<div class="container">
    <h3>Hexacóptero</h3>

    <swiper [spaceBetween]="30" [loop]="true" [loopFillGroupWithBlank]="true"
        [pagination]="{ clickable: true }" [navigation]="true" class="mySwiper">
        <ng-template swiperSlide>
            <div class="col-md-6 top">
                <a routerLink="../producto">
                    <div class="card2">
                        <img class="tool-image" src="../../assets/images/hexacoptero1.jpg" alt="">
                        <div class="row">
                            <div class="col-md-8 tituloCur">
                                <h4>Yuneec Typoon H3</h4>
                            </div>
                            <div class="col-md-4">
                                <h5>2.394,00€</h5>
                            </div>
                        </div>
                        <div class="ratingDiv">
                            <img class="rating" src="../../../assets/images/stars.PNG" alt="rating">
                        </div>
                    </div>
                </a>
            </div>
        </ng-template>
        <ng-template swiperSlide>
            <div class="col-md-6 top">
                <a routerLink="../producto">
                    <div class="card2">
                        <img class="tool-image" src="../../../assets/images/walkera.jpg" alt="">
                        <div class="row">
                            <div class="col-md-8 tituloCur">
                                <h4>Walkera TALI H500</h4>
                            </div>
                            <div class="col-md-4">
                                <h5>516,49€</h5>
                            </div>
                        </div>
                        <div class="ratingDiv">
                            <img class="rating" src="../../../assets/images/stars.PNG" alt="rating">
                        </div>
                    </div>
                </a>
            </div>
        </ng-template>
        <ng-template swiperSlide>
            <div class="col-md-6 top">
                <a routerLink="../producto">
                    <div class="card2">
                        <img class="tool-image" src="../../assets/images/tarot680.jpg" alt="">
                        <div class="row">
                            <div class="col-md-8 tituloCur">
                                <h4>Tarot 680 Pro</h4>
                            </div>
                            <div class="col-md-4">
                                <h5>143,90€</h5>
                            </div>
                        </div>
                        <div class="ratingDiv">
                            <img class="rating" src="../../../assets/images/stars.PNG" alt="rating">
                        </div>
                    </div>
                </a>
            </div>
        </ng-template>
        <ng-template swiperSlide>
            <div class="col-md-6 top">
                <a routerLink="../producto">
                    <div class="card2">
                        <img class="tool-image" src="../../../assets/images/H8caa760834754bed90830749c2ec84bbX.jpg" alt="">
                        <div class="row">
                            <div class="col-md-8 tituloCur">
                                <h4>GAIA 100 Long Range</h4>
                            </div>
                            <div class="col-md-4">
                                <h5>7.100,99€</h5>
                            </div>
                        </div>
                        <div class="ratingDiv">
                            <img class="rating" src="../../../assets/images/stars.PNG" alt="rating">
                        </div>
                    </div>
                </a>
            </div>
        </ng-template>
    </swiper>

    <h3>Cuatricóptero</h3>
    <swiper [spaceBetween]="30" [loop]="true" [loopFillGroupWithBlank]="true"
        [pagination]="{ clickable: true }" [navigation]="true" class="mySwiper">
        <ng-template swiperSlide>
            <div class="col-md-6 top">
                <a routerLink="../producto">
                    <div class="card2">
                        <img class="tool-image" src="../../assets/images/81U7zKn3htL._AC_SL1500_.jpg" alt="">
                        <div class="row">
                            <div class="col-md-8 tituloCur">
                                <h4>Mavic Air 2</h4>
                            </div>
                            <div class="col-md-4">
                                <h5>850€</h5>
                            </div>
                        </div>
                        <div class="ratingDiv">
                            <img class="rating" src="../../../assets/images/stars.PNG" alt="rating">
                        </div>
                    </div>
                </a>
            </div>
        </ng-template>
        <ng-template swiperSlide>
            <div class="col-md-6 top">
                <a routerLink="../producto">
                    <div class="card2">
                        <img class="tool-image" src="../../../assets/images/parrot_anafi_packshot_open_04_722x450px.png" alt="">
                        <div class="row">
                            <div class="col-md-8 tituloCur">
                                <h4>Parrot Anafi</h4>
                            </div>
                            <div class="col-md-4">
                                <h5>700€</h5>
                            </div>
                        </div>
                        <div class="ratingDiv">
                            <img class="rating" src="../../../assets/images/stars.PNG" alt="rating">
                        </div>
                    </div>
                </a>
            </div>
        </ng-template>
        <ng-template swiperSlide>
            <div class="col-md-6 top">
                <a routerLink="../producto">
                    <div class="card2">
                        <img class="tool-image" src="../../assets/images/51LlJ+ZSn6L._AC_SY355_.jpg" alt="">
                        <div class="row">
                            <div class="col-md-8 tituloCur">
                                <h4>SJAPEX HD WiFi</h4>
                            </div>
                            <div class="col-md-4">
                                <h5>300,00€</h5>
                            </div>
                        </div>
                        <div class="ratingDiv">
                            <img class="rating" src="../../../assets/images/stars.PNG" alt="rating">
                        </div>
                    </div>
                </a>
            </div>
        </ng-template>
        <ng-template swiperSlide>
            <div class="col-md-6 top">
                <a routerLink="../producto">
                    <div class="card2">
                        <img class="tool-image" src="../../../assets/images/s1-img-2103a7274a03d031f129b9cd360c2ee3.png" alt="">
                        <div class="row">
                            <div class="col-md-8 tituloCur">
                                <h4>DJI Phantom 4 Advanced</h4>
                            </div>
                            <div class="col-md-4">
                                <h5>1.300,49€</h5>
                            </div>
                        </div>
                        <div class="ratingDiv">
                            <img class="rating" src="../../../assets/images/stars.PNG" alt="rating">
                        </div>
                    </div>
                </a>
            </div>
        </ng-template>
    </swiper>

    <h3>Minidrone</h3>
    <swiper [spaceBetween]="30" [loop]="true" [loopFillGroupWithBlank]="true"
        [pagination]="{ clickable: true }" [navigation]="true" class="mySwiper">
        <ng-template swiperSlide>
            <div class="col-md-6 top">
                <a routerLink="../producto">
                    <div class="card2">
                        <img class="tool-image" src="../../assets/images/minidrone1.jpg" alt="">
                        <div class="row">
                            <div class="col-md-8 tituloCur">
                                <h4>Parrot Mambo Fly</h4>
                            </div>
                            <div class="col-md-4">
                                <h5>50,99€</h5>
                            </div>
                        </div>
                        <div class="ratingDiv">
                            <img class="rating" src="../../../assets/images/stars.PNG" alt="rating">
                        </div>
                    </div>
                </a>
            </div>
        </ng-template>
        <ng-template swiperSlide>
            <div class="col-md-6 top">
                <a routerLink="../producto">
                    <div class="card2">
                        <img class="tool-image" src="../../assets/images/minidrone2.jpg" alt="">
                        <div class="row">
                            <div class="col-md-8 tituloCur">
                                <h4>Xiaomi Mi Drone Mini</h4>
                            </div>
                            <div class="col-md-4">
                                <h5>73.50€</h5>
                            </div>
                        </div>
                        <div class="ratingDiv">
                            <img class="rating" src="../../../assets/images/stars.PNG" alt="rating">
                        </div>
                    </div>
                </a>
            </div>
        </ng-template>
        <ng-template swiperSlide>
            <div class="col-md-6 top">
                <a routerLink="../producto">
                    <div class="card2">
                        <img class="tool-image" src="../../assets/images/51763xo--RL._AC_SX500_SY375_.jpg" alt="">
                        <div class="row">
                            <div class="col-md-8 tituloCur">
                                <h4>ATOYX Mini Drone</h4>
                            </div>
                            <div class="col-md-4">
                                <h5>28,99€</h5>
                            </div>
                        </div>
                        <div class="ratingDiv">
                            <img class="rating" src="../../../assets/images/stars.PNG" alt="rating">
                        </div>
                    </div>
                </a>
            </div>
        </ng-template>
        <ng-template swiperSlide>
            <div class="col-md-6 top">
                <a routerLink="../producto">
                    <div class="card2">
                        <img class="tool-image" src="../../../assets/images/39d6eaceba3616d1460ec643f4654672@large.jpg" alt="">
                        <div class="row">
                            <div class="col-md-8 tituloCur">
                                <h4>Mavic Mini</h4>
                            </div>
                            <div class="col-md-4">
                                <h5>400€</h5>
                            </div>
                        </div>
                        <div class="ratingDiv">
                            <img class="rating" src="../../../assets/images/stars.PNG" alt="rating">
                        </div>
                    </div>
                </a>
            </div>
        </ng-template>
    </swiper>
    <br><br>
</div>