<app-imagen-dron></app-imagen-dron>

<div class="tipos-alquiler">
    <div class="row">
        <div class="col-md-4 tools">
            <div class="card">
                <img class="tool-image-top" src="../../assets/images/independiente.jpg" alt="">
                <h4>Independiente</h4>
                <p class="texto-card">Alquilas el dron por las horas que necesites y lo devuelves tras su uso. Se te cobrará una pequeña fianza que te será devuelta
                </p>
                <a routerLink="../alquiler" fragment="independiente">
                    <button class="boton">Ver Precios</button>
                </a>
            </div>
        </div>
        <div class="col-md-4 tools">
            <div class="card">
                <img class="tool-image-top" src="../../assets/images/ConInstructor.jpg" alt="">
                <h4>Con Instructor</h4>
                <p class="texto-card">Además de alquilar un dron, contratas a un piloto que conducirá el dron por ti. Puedes darle las indicaciones que quieras
                </p>
                <a routerLink="../alquiler" fragment="instructor">
                    <button class="boton">Ver Precios</button>
                </a>
            </div>
        </div>
        <div class="col-md-4 tools">
            <div class="card">
                <img class="tool-image-top" src="../../assets/images/ConEdicion.jpg" alt="">
                <h4>Con Edición</h4>
                <p class="texto-card">Añadido a todo lo anterior, tras unos días de espera te enviaremos un vídeo editado con la duración que quieras</p>
                <a routerLink="../alquiler" fragment="edicion">
                    <button class="boton">Ver Precios</button>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h4 id="independiente">Independiente</h4>
    <div class="row">
        <div class="col-md-6 top">
            <a routerLink="../alquiler-producto">
                <div class="card2">
                    <img class="tool-image" src="../../assets/images/mavicA.jpg" alt="">
                    <div class="row">
                        <div class="col-md-8 tituloCur">
                            <h4>Mavic Air 2</h4>
                        </div>
                        <div class="col-md-4">
                            <h5>30€/h</h5>
                        </div>
                    </div>
                    <div class="ratingDiv">
                        <img class="rating" src="../../../assets/images/stars.PNG" alt="rating">
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-6 top">
            <a routerLink="../alquiler-producto">
                <div class="card2">
                    <img class="tool-image" src="../../assets/images/walkera.jpg" alt="">
                    <div class="row">
                        <div class="col-md-8 tituloCur">
                            <h4>Walkera Tali H500</h4>
                        </div>
                        <div class="col-md-4">
                            <h5>30€/h</h5>
                        </div>
                    </div>
                    <div class="ratingDiv">
                        <img class="rating" src="../../../assets/images/stars.PNG" alt="rating">
                    </div>
                </div>
            </a>
        </div>
    </div>

    <h4 id="instructor">Con Instructor</h4>
    <div class="row">
        <div class="col-md-6 top">
            <a routerLink="../alquiler-producto">
                <div class="card2">
                    <img class="tool-image" src="../../assets/images/conInstructor1.png" alt="">
                    <div class="row">
                        <div class="col-md-8 tituloCur">
                            <h4>Instructor estándar</h4>
                        </div>
                        <div class="col-md-4">
                            <h5>10€/h</h5>
                        </div>
                    </div>
                    <div class="ratingDiv">
                        <img class="rating" src="../../../assets/images/stars.PNG" alt="rating">
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-6 top">
            <a routerLink="../alquiler-producto">
                <div class="card2">
                    <img class="tool-image" src="../../assets/images/conInstructor2.png" alt="">
                    <div class="row">
                        <div class="col-md-8 tituloCur">
                            <h4>Instructor experto</h4>
                        </div>
                        <div class="col-md-4">
                            <h5>15€/h</h5>
                        </div>
                    </div>
                    <div class="ratingDiv">
                        <img class="rating" src="../../../assets/images/stars.PNG" alt="rating">
                    </div>
                </div>
            </a>
        </div>
    </div>

    <h4 id="edicion">Con Edición</h4>
    <div class="row">
        <div class="col-md-6 top">
            <a routerLink="../alquiler-producto">
                <div class="card2">
                    <img class="tool-image" src="../../assets/images/conEdicion1.png" alt="">
                    <div class="row">
                        <div class="col-md-8 tituloCur">
                            <h4>Cortometraje</h4>
                        </div>
                        <div class="col-md-4">
                            <h5>+10€</h5>
                        </div>
                    </div>
                    <div class="ratingDiv">
                        <img class="rating" src="../../../assets/images/stars.PNG" alt="rating">
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-6 top">
            <a routerLink="../alquiler-producto">
                <div class="card2">
                    <img class="tool-image" src="../../assets/images/largometraje.jpg" alt="">
                    <div class="row">
                        <div class="col-md-8 tituloCur">
                            <h4>Largometraje</h4>
                        </div>
                        <div class="col-md-4">
                            <h5>+30€</h5>
                        </div>
                    </div>
                    <div class="ratingDiv">
                        <img class="rating" src="../../../assets/images/stars.PNG" alt="rating">
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>