<app-imagen-dron></app-imagen-dron>

<div class="container">
    <h3>Eventos</h3>
    <div class="row">
        <div class="col-md-6 top">
            <div class="card2">
                <img class="tool-image" src="../../assets/images/droneAcrobat.jpg" alt="">
                <div class="row">
                    <div class="col-md-8 tituloCur">
                        <h4>Demostarción de vuelo acrobático</h4>
                    </div>
                    <div class="col-md-4">
                        <h5>Gratis</h5>
                    </div>
                </div>
                <div class="ratingDiv">
                    <img class="rating" src="../../../assets/images/stars.PNG" alt="rating">
                </div>
            </div>
        </div>
        <div class="col-md-6 top">
            <div class="card2">
                <img class="tool-image" src="../../assets/images/eventos2.jpg" alt="">
                <div class="row">
                    <div class="col-md-8 tituloCur">
                        <h4>Carrera de Drones</h4>
                    </div>
                    <div class="col-md-4">
                        <h5>Gratis</h5>
                    </div>
                </div>
                <div class="ratingDiv">
                    <img class="rating" src="../../../assets/images/stars.PNG" alt="rating">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 top">
            <div class="card2">
                <img class="tool-image" src="../../assets/images/eventos3.jpg" alt="">
                <div class="row">
                    <div class="col-md-8 tituloCur">
                        <h4>Prueba de Drones</h4>
                    </div>
                    <div class="col-md-4">
                        <h5>Gratis</h5>
                    </div>
                </div>
                <div class="ratingDiv">
                    <img class="rating" src="../../../assets/images/stars.PNG" alt="rating">
                </div>
            </div>
        </div>
        <div class="col-md-6 top">
            <div class="card2">
                <img class="tool-image" src="../../assets/images/eventos4.jpg" alt="">
                <div class="row">
                    <div class="col-md-8 tituloCur">
                        <h4>Quedada Drone Club Villaviciosa</h4>
                    </div>
                    <div class="col-md-4">
                        <h5>Gratis</h5>
                    </div>
                </div>
                <div class="ratingDiv">
                    <img class="rating" src="../../../assets/images/stars.PNG" alt="rating">
                </div>
            </div>
        </div>
    </div>
</div>